<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nome completo:</strong>
    <%= cliente.nome_completo %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= cliente.data_nascimento %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= cliente.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

</div>
