<div id="<%= dom_id reserva %>">
  <p>
    <strong>Cliente:</strong>
    <%= link_to reserva.cliente.nome_completo, reserva.cliente %>
  </p>

  <p>
    <strong>Quarto:</strong>
    <%= link_to reserva.quarto.numero, reserva.quarto %>
  </p>

  <p>
    <strong>Entrada:</strong>
    <%= l reserva.entrada %>
  </p>

  <p>
    <strong>Saida:</strong>
    <%= l reserva.saida %>
  </p>

</div>
