<div id="<%= dom_id reserva %>">
  <p>
    <strong>Cliente:</strong>
    <%= reserva.cliente.nome_completo %>
  </p>

  <p>
    <strong>Quarto:</strong>
    <%= reserva.quarto.numero %>
  </p>

  <p>
    <strong>Entrada:</strong>
    <%= l reserva.entrada %>
  </p>

  <p>
    <strong>Saida:</strong>
    <%= l reserva.saida %>
  </p>

</div>
