<p style="color: green"><%= notice %></p>

<%= render @reserva %>

<div>
  <%= link_to "Editar", edit_reserva_path(@reserva) %> |
  <%= link_to "Voltar para Reservas", reservas_path %>

  <%= button_to "Deletar", @reserva, method: :delete %>
</div>
