<h1>Buscar Quartos</h1>

<%= form_with(url: buscar_quartos_path, method: :get) do |form| %>
  <div class="form-group">
    <%= form.label :numero, 'Número do Quarto:' %>
    <%= form.text_field :numero, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :quantidade_hospedes_intervalo, 'Intervalo de Quantidade de Hóspedes:' %>
    <%= form.select :quantidade_hospedes_intervalo, options_for_select([['0 - 4', '0-4'], ['5 - 10', '5-10'], ['11 ou mais', '11+']]), { include_blank: 'Qualquer' }, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :faixa_preco, 'Faixa de Preço:' %>
    <%= form.select :faixa_preco_intervalo, options_for_select([['Qualquer', ''], ['Até R$50', '0-50'], ['R$51 - R$100', '51-100'], ['R$101 ou mais', '101+']]), { include_blank: false }, class: 'form-control' %>
  </div>
  <%= form.submit 'Filtrar', class: 'btn btn-primary' %>
<% end %>

<h2>Lista de Quartos</h2>
<% if @quartos.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>Número</th>
      <th>Quantidade de Hóspedes</th>
      <th>Preço</th>
    </tr>
    </thead>
    <tbody>
    <% @quartos.each do |quarto| %>
      <tr>
        <td><%= quarto.numero %></td>
        <td><%= quarto.capacidade %></td>
        <td><%= quarto.preco %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhum quarto encontrado.</p>
<% end %>
