<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Gerenciamento de Hotel</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
      body {
          padding: 30px;
      }
      .button-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 20px;
      }
      .button {
          width: 30%;
          margin-bottom: 20px;
          padding: 20px;
          text-align: center;
          background-color: #007bff;
          color: #fff;
          font-size: 18px;
          border-radius: 5px;
          cursor: pointer;
      }
      .button:hover {
          background-color: #0056b3;
      }
  </style>
</head>
<body>
<h1>Sistema de Gerenciamento de Hotel</h1>
<div class="button-container">
  <a href="<%= clientes_path %>" class="button">Cadastrar Cliente</a>
  <a href="<%= reservas_path %>" class="button">Criar Reserva</a>
  <a href="<%= busca_reservas_path %>" class="button">Buscar Reservas</a>
</div>
<div class="button-container">
  <a href="<%= busca_clientes_path %>" class="button">Buscar Clientes</a>
  <a href="<%= quartos_path %>" class="button">Adicionar Quartos</a>
  <a href="<%= buscar_quartos_path %>" class="button">Buscar Quartos</a>
</div>
</body>
</html>
